

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: linear-gradient(to bottom,#D9ACF5,#BE6DB7) ;
    font-family: 'Kanit', sans-serif;
    
}
.hero{
    width: 100%;
    min-height: 350px;
    color:#525252;
}

nav{
    
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 220px;
    border-radius: 50%;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav h1{
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: #000;
    

}

.sub-menu{
    position: absolute;
    top: 40%;
    right: 12%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.abrir-menu{
    max-height: 400px;
}

.sub-menu2{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu2 hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc ;
    margin: 15px 0 10px ;
}


.sub-menu-perfil{
    list-style-type: none;
    display: flex;
    align-items: center;
    color:#525252;
    margin: 12px 0;
}

.sub-menu-perfil p{
    width: 100%;
}

.sub-menu-perfil img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50px;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-perfil:hover p{
    font-weight: 600;
}
 
.menu_perfil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;   
     
} 

.perfil_interno {
    padding: 15px;
}

.menu__interno {    
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
    
    
}

.menu__interno p {
    color:#fff;
    width: 100%;    
    font-size: 20px;
    transition: font-size 0.5s;
}

.menu__interno .arrow{
    padding: 10px;
    transition: transform 0.5s;

}

.menu__interno:hover .arrow{
    transform: rotate(90deg);
}

.menu__interno:hover p{
    font-size: 25px;
    font-weight: 600;
    
}


/* ---Main--- */

/* ---historia--- */

#sobre_mi h3{
    text-align: center;
    font-size: 100px;
    cursor: pointer;
}


 .titulo .indicador{
    background: #fff;
    opacity: 55%;
    border-radius: 50%;
    width: 50px;
    transition: transform 0.5s;
}

.titulo:hover .indicador{
    transform:  rotate(90deg)  ;
    
}

.img-completa{
    
    float: right;
    height: 350px;
    border-radius:  15px;
    

    
}

.historia {
    background-color: #D9ACF5;
    font-size: 25px;
    text-align: center;
    max-height: 0px;
    border-radius: 15px ;
    border: 3px solid #000;
    margin-bottom: 70px;
    overflow: hidden;
    transition: max-height 1.5s;
    
}

.abrir-historia{
    max-height: 400px;
        
}




/* ---Experiencia Laboral--- */
.fechas{
    font-size: 17px;
    font-weight: 600;
    float: right;
    background: #818081;
    padding: 5px; 
    border-radius:0 0 5px 10px ;
    
    
}

.titulo{
    text-align: center;
    font-size: 100px;
    cursor: pointer;
    padding: 25px;
}

#laboral .indicador{
    background: #fff;
    border-radius: 50%;
    width: 50px;
    transition: transform 0.5s;
}

#laboral p{
    padding: 15px;
}


.titulo:hover .indicador{
    transform:  rotate(90deg)  ;
    
}

.puesto{
    
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    background-color: #c1b3ca;
    
   

}

.lugar{
    float: left;
    font-size: 17px;
    font-weight: 600;
    background: #818081;
    padding: 5px; 
    border-radius:0 0 10px 5px ;
    

}
.hechos{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.logros{
    
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.experiencia{
    background-color: #D9ACF5;
    max-height: 0px;
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 15px;
    margin-bottom: 70px;
    transition: max-height 1.5s;
}

.abrir-experiencia{
    max-height: 1200px;
    border-radius: 15px;
}


/* ---Educaci贸n--- */

.licen{
    background-color: #D9ACF5;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    max-height: 0px;
    border-radius: 15px ;
    border: 3px solid #000;
    margin-bottom: 70px;
    overflow: hidden;
    transition: max-height 1.5s;
}

.licen li{
    padding: 25px;
}

.abrir-edu{    
    max-height: 400px;
    border-radius: 15px;
}

.licen hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #000 ;
    margin: 15px 0 10px ;
}


/* ---Entrenamiento profesional--- */

.training{
    background-color: #D9ACF5;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    max-height: 0px;
    border-radius: 15px ;
    border: 3px solid #000;
    margin-bottom: 70px;
    overflow: hidden;
    transition: max-height 1.5s;
}

.training  p{
    list-style: none;
    padding: 20px;
}
.abrir-training{
    max-height: 400px;
    border-radius: 15px;
}
/* ---Habilidades--- */

.skills{
    background-color: #D9ACF5;
    font-weight: 600;
    font-size: 25px;
    max-height: 0px;
    border-radius: 15px ;
    border: 3px solid #000;
    margin-bottom: 70px;
    overflow: hidden;
    transition: max-height 1.5s;
}



.skills p{
  font-size: 35px;
  margin-right: 250px;
  color: #9b994a;
    
}

.skills li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 250px;

}

.abrir-habilidades{
    max-height: 1200px;
    border-radius: 15px;

}


/* ---Contacto--- */



#contacto ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(to top,#804674,#BE6DB7) ;
}



#contacto ul img{
    border-radius: 50%;
    height: 35px;
    
}

#contacto ul li{
    display: flex;
    align-items: center;
    height: auto;
    margin-right: 20px;

}




/* ---Scroll--- */

#botonArriba{
    position: fixed;
    bottom: 80px;
    right: -100px;
    width: 40px;
    background: #999494;
    border-radius: 50%;
    opacity: 60%; 
    transition: all 1s;
}


/* ---Media Queries 1280--- */

@media screen and (max-width:1280px) {
    body{
        
        background: linear-gradient(to bottom,#D9ACF5,#BE6DB7) ;
        font-family: 'Kanit', sans-serif;
        
    }

    nav{
        display: block;   
        width: 100%;

    }
    nav .logo{
        width: 100px;
        display: inherit;
        margin-inline: auto;
    }

    .user-pic{
        display: none;
    }

    nav h1{
        
        font-size: 60px;
        color: #000;
        
    }

    .sub-menu{
        display: none;
    }   
    
    
    .menu_perfil {
        width: auto;
        display: block;
        text-align: center;
        list-style: none;   
         
    } 

    .menu__interno p {
        color:#fff;
        width: 100%;    
        font-size: 30px;
        transition: font-size 0.5s;
    }

    /* ---historia--- */

    #sobre_mi h3{
        text-align: center;
        font-size: 50px;
        cursor: pointer;
    }
    
    .titulo{
        width: auto;
        text-align: center;
        font-size: 40px;
        cursor: pointer;
        padding: 25px;
    }


    .titulo .indicador{
        background: #fff;
        opacity: 55%;
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
        
    }

    

    .img-completa{
        float: right;
        width: 50%;
        height: 450px;
        border-radius: 0;
        

        
    }

    .historia {
        background-color: #D9ACF5;
        font-size: 20px;
        text-align: center;
        max-height: 0px;
        font-weight: 600;
        border-radius: 15px ;
        border: 3px solid #000;
        margin-bottom: 70px;
        overflow: hidden;
        transition: max-height 1.5s;
        
    }

    .abrir-historia{
        max-height: 1500px;
            
    }

    /* ---Experiencia Laboral--- */
        

    #laboral .indicador {
        background: #fff;
        opacity: 55%;
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
        
    }

    #laboral p{
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        padding: 15px;
    }


    

    #laboral .puesto{
        
        display: flex;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        background-color: #c1b3ca;
        
    

    }
    #laboral .fechas{
        
        font-size: 17px;
        font-weight: 600;
        background: #818081;
        padding: 5px; 
        border-radius:0 0 5px 10px ;
        
        
    }

    #laboral .lugar {
        
        font-size: 17px;
        font-weight: 600;
        background: #818081;
        padding: 5px; 
        border-radius:0 0 10px 5px ;
        

    }
    .hechos{
        font-weight: 600;
        font-size: 25px;
        margin-top: 50px;
        
    }

    .logros{
        
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        
    }

    .experiencia{
        background-color: #D9ACF5;
        max-height: 0px;
        overflow: hidden;
        border: 3px solid #000;
        border-radius: 15px;
        margin-bottom: 70px;
        transition: max-height 1.5s;
    }

    .abrir-experiencia{
        max-height: 2500px;
        border-radius: 15px;
    }

    /* ---Educaci贸n--- */

    .abrir-edu{    
        max-height: 1000px;
        border-radius: 15px;
    }


    /* ---Habilidades--- */

    .skills{
        background-color: #D9ACF5;
        font-weight: 600;
        font-size: 17px;
        max-height: 0px;
        border-radius: 15px ;
        border: 3px solid #000;
        overflow: hidden;
        transition: max-height 1.5s;
    }



    .skills p{
    font-size: 25px;    
    color: #9b994a;
        
    }

    .skills li{
        display: inline-block;
        align-items: center;
        margin: 0;
        padding: 15px;
        

    }

    .abrir-habilidades{
        max-height: 1200px;
        border-radius: 15px;

    }

    /* ---Scroll--- */

    #botonArriba{
    display: none;
    }


    /* ---Contacto--- */



      #contacto ul{
        list-style: none;
        display: block;        
        font-weight: 600;
        font-size: 15px;
        background: linear-gradient(to top,#804674,#BE6DB7) ;
    } 
 


    #contacto ul img{
        display: inline-block;
        border-radius: 50%;
        height: 35px;
        
    }

    #contacto ul li{
        display: block;
        text-align: center;
        height: auto;
       
    }

}




/* ---Media Queries 800px--- */

@media screen and (max-width:800px) {
    body{
        
        background: linear-gradient(to bottom,#D9ACF5,#BE6DB7) ;
        font-family: 'Kanit', sans-serif;
        
    }

    nav{
        display: block;   
        width: 100%;

    }
    nav .logo{
        width: 100px;
        display: inherit;
        margin-inline: auto;
    }

    .user-pic{
        display: none;
    }

    nav h1{
        
        font-size: 60px;
        color: #000;
        
    }

    .sub-menu{
        display: none;
    }   
    
    
    .menu_perfil {
        width: auto;
        display: block;
        text-align: center;
        list-style: none;   
         
    } 

    .menu__interno p {
        color:#fff;
        width: 100%;    
        font-size: 30px;
        transition: font-size 0.5s;
    }

    /* ---historia--- */

    #sobre_mi h3{
        text-align: center;
        font-size: 50px;
        cursor: pointer;
    }
    
    .titulo{
        width: auto;
        text-align: center;
        font-size: 40px;
        cursor: pointer;
        padding: 25px;
    }


    .titulo .indicador{
        background: #fff;
        opacity: 55%;
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
        
    }

    

    .img-completa{
        
        width: 50%;
        height: 550px;
        border-radius: 0;
        

        
    }

    .historia {
        background-color: #D9ACF5;
        font-size: 20px;
        text-align: center;
        max-height: 0px;
        font-weight: 600;
        border-radius: 15px ;
        border: 3px solid #000;
        margin-bottom: 70px;
        overflow: hidden;
        transition: max-height 1.5s;
        
    }

    .abrir-historia{
        max-height: 1500px;
            
    }

    /* ---Experiencia Laboral--- */
        

    #laboral .indicador {
        background: #fff;
        opacity: 55%;
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
        
    }

    #laboral p{
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        padding: 15px;
    }


    

    #laboral .puesto{
        
        display: flex;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        background-color: #c1b3ca;
        
    

    }
    #laboral .fechas{
        
        font-size: 17px;
        font-weight: 600;
        background: #818081;
        padding: 5px; 
        border-radius:0 0 5px 10px ;
        
        
    }

    #laboral .lugar {
        
        font-size: 17px;
        font-weight: 600;
        background: #818081;
        padding: 5px; 
        border-radius:0 0 10px 5px ;
        

    }
    .hechos{
        font-weight: 600;
        font-size: 25px;
        margin-top: 50px;
        
    }

    .logros{
        
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        
    }

    .experiencia{
        background-color: #D9ACF5;
        max-height: 0px;
        overflow: hidden;
        border: 3px solid #000;
        border-radius: 15px;
        margin-bottom: 70px;
        transition: max-height 1.5s;
    }

    .abrir-experiencia{
        max-height: 2500px;
        border-radius: 15px;
    }

    /* ---Educaci贸n--- */

    .abrir-edu{    
        max-height: 1000px;
        border-radius: 15px;
    }

    /* ---Habilidades--- */

    .skills{
        background-color: #D9ACF5;
        font-weight: 600;
        font-size: 17px;
        max-height: 0px;
        border-radius: 15px ;
        border: 3px solid #000;
        overflow: hidden;
        transition: max-height 1.5s;
    }



    .skills p{
    font-size: 25px;    
    color: #9b994a;
        
    }

    .skills li{
        display: inline-block;
        align-items: center;
        margin: 0;
        padding: 15px;
        

    }

    .abrir-habilidades{
        max-height: 1200px;
        border-radius: 15px;

    }

    /* ---Scroll--- */

    #botonArriba{
    display: none;
    }


    /* ---Contacto--- */



      #contacto ul{
        list-style: none;
        display: block;        
        font-weight: 600;
        font-size: 15px;
        background: linear-gradient(to top,#804674,#BE6DB7) ;
    } 
 


    #contacto ul img{
        display: inline-block;
        border-radius: 50%;
        height: 35px;
        
    }

    #contacto ul li{
        display: block;
        text-align: center;
        height: auto;
       
    }

}

/* ---Media Queries 400--- */

@media screen and (max-width:400px) {
    body{
        
        background: linear-gradient(to bottom,#D9ACF5,#BE6DB7) ;
        font-family: 'Kanit', sans-serif;
        
    }

    nav{
        display: block;   
        width: 100%;

    }
    nav .logo{
        width: 100px;
        display: inherit;
        margin-inline: auto;
    }

    .user-pic{
        display: none;
    }

    nav h1{
        
        font-size: 60px;
        color: #000;
        
    }

    .sub-menu{
        display: none;
    }   
    
    
    .menu_perfil {
        width: auto;
        display: block;
        text-align: center;
        list-style: none;   
         
    } 

    .menu__interno p {
        color:#fff;
        width: 100%;    
        font-size: 30px;
        transition: font-size 0.5s;
    }

    /* ---historia--- */

    #sobre_mi h3{
        text-align: center;
        font-size: 50px;
        cursor: pointer;
    }
    
    .titulo{
        width: auto;
        text-align: center;
        font-size: 40px;
        cursor: pointer;
        padding: 25px;
    }


    .titulo .indicador{
        background: #fff;
        opacity: 55%;
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
        
    }

    

    .img-completa{
        
        width: 100%;
        height: 350px;
       border-radius: 0;
        

        
    }

    .historia {
        background-color: #D9ACF5;
        font-size: 20px;
        text-align: center;
        max-height: 0px;
        font-weight: 600;
        border-radius: 15px ;
        border: 3px solid #000;
        margin-bottom: 70px;
        overflow: hidden;
        transition: max-height 1.5s;
        
    }

    .abrir-historia{
        max-height: 1500px;
            
    }

    /* ---Experiencia Laboral--- */
        

    #laboral .indicador {
        background: #fff;
        opacity: 55%;
        border-radius: 50%;
        width: 30px;
        margin-left: 10px;
        
    }

    #laboral p{
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        padding: 15px;
    }


    

    #laboral .puesto{
        
        display: flex;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        background-color: #c1b3ca;
        
    

    }
    #laboral .fechas{
        
        font-size: 17px;
        font-weight: 600;
        background: #818081;
        padding: 5px; 
        border-radius:0 0 5px 10px ;
        
        
    }

    #laboral .lugar {
        
        font-size: 17px;
        font-weight: 600;
        background: #818081;
        padding: 5px; 
        border-radius:0 0 10px 5px ;
        

    }
    .hechos{
        font-weight: 600;
        font-size: 25px;
        margin-top: 50px;
        
    }

    .logros{
        
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        
    }

    .experiencia{
        background-color: #D9ACF5;
        max-height: 0px;
        overflow: hidden;
        border: 3px solid #000;
        border-radius: 15px;
        margin-bottom: 70px;
        transition: max-height 1.5s;
    }

    .abrir-experiencia{
        max-height: 2500px;
        border-radius: 15px;
    }

    /* ---Educaci贸n--- */

    .abrir-edu{    
        max-height: 1000px;
        border-radius: 15px;
    }

    /* ---Habilidades--- */

    .skills{
        background-color: #D9ACF5;
        font-weight: 600;
        font-size: 17px;
        max-height: 0px;
        border-radius: 15px ;
        border: 3px solid #000;
        overflow: hidden;
        transition: max-height 1.5s;
    }



    .skills p{
    font-size: 25px;    
    color: #9b994a;
        
    }

    .skills li{
        display: inline-block;
        align-items: center;
        margin: 0;
        padding: 15px;
        

    }

    .abrir-habilidades{
        max-height: 1200px;
        border-radius: 15px;

    }

    /* ---Scroll--- */

    #botonArriba{
    display: none;
    }


    /* ---Contacto--- */



      #contacto ul{
        list-style: none;
        display: block;        
        font-weight: 600;
        font-size: 15px;
        background: linear-gradient(to top,#804674,#BE6DB7) ;
    } 
 


    #contacto ul img{
        display: inline-block;
        border-radius: 50%;
        height: 35px;
        
    }

    #contacto ul li{
        display: block;
        text-align: center;
        height: auto;
       
    }

}




